<h1>Available Blurays</h1>

<ul>
    <% @blurays.each do |bluray| %>
        <li> <%= link_to bluray.title, bluray_path(bluray) %> </li>
    <% end %>
</ul>

<%= link_to "Create a Bluray", new_bluray_path %>
